---
import { getCollection } from 'astro:content';
import Note from '../../components/Note.astro';
import Layout from '../../layouts/Layout.astro';

const posts = await getCollection('notes');
---

<Layout title="JapyDev | Notas">
  <p>
    <span class="text-red-800 dark:text-amber-300">Notas y recursos</span> tomados a lo largo de mi
    aprendizaje en el
    <strong>desarrollo web</strong>.
  </p>
  <p class="pb-10">
    Anotaciones de distintas tecnologías, herramientas, lenguajes, frameworks,
    recursos y más.
  </p>
  <section class="sm:columns-2 gap-x-4">
    {
      posts
        .sort((a, b) =>  a.data.title.localeCompare(b.data.title))
        .map((post) => (
          <Note
            id={post.data.id}
            img={post.data.heroImage}
            link={`/notes/${post.slug}/`}
            title={post.data.title}
          />
      ))
    }
  </section>
</Layout>
