---
import Project from '../components/Project.astro';
import { projects } from '../constants/projects';
import { experience } from '../constants/experience';
import Layout from '../layouts/Layout.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="JapyDev | Desarrollador Web">
  <p>Hola,</p>
  <h2 class="text-3xl mb-1">Soy Juan Pablo 👋</h2>
  <h2
    class="text-3xl mb-8 bg-gradient-to-r from-amber-600 dark:from-amber-300 from-0% 
    to-red-800 dark:to-red-400 to-60% bg-clip-text text-transparent"
  >
    Desarrollador Web
  </h2>
  <p>
    Ingeniero con más de
    <span class="text-red-800 dark:text-amber-300">2 años de experiencia</span>
    desarrollando soluciones para la web.
  </p>
  <p>Me apasiona crear sitios web increíbles y compartir lo que aprendo.</p>
  <h3 class="text-2xl font-bold mt-16 mb-10">Proyectos</h3>
  <section class="grid gap-y-8">
    {
      projects.map((project) => (
        <Project
          {...project}
        />
      ))
    }
  </section>
  <h3 class="text-2xl font-bold mt-16 mb-10">Experiencia</h3>
  <section class="grid gap-y-10">
    {
      experience.map((job) => (
        <Experience
          {...job}
        />
      ))
    }
  </section>
</Layout>
