---
const today = new Date();
---

<footer
  class="max-w-3xl w-full mx-auto mt-auto p-6 pt-10 flex flex-col gap-1 items-center"
>
  <span>
    Desarrollado por <span class="text-amber-300">Juan Pablo Botero</span>
  </span>
  <span class="text-sm text-gray-400/75">
    Hecho con
    <a
      href="https://astro.build/"
      target="_blank"
      rel="noopener noreferrer"
      class="font-bold"
    >
      Astro
    </a>
    -
    <a
      href="https://tailwindcss.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="font-bold"
    >
      Tailwind CSS
    </a>
  </span>
</footer>
