---
import SocialNetwork from './SocialNetwork.astro';
---

<footer
  class="max-w-3xl w-full mx-auto mt-auto p-6 pt-16 flex flex-col gap-2 items-center"
>
  <div>
    Desarrollado por <span class="text-amber-300">Juan Pablo Botero</span>
  </div>
  <SocialNetwork color={'text-gray-200'} />
</footer>
