---
import HeaderLink from './HeaderLink.astro';
import SocialNetwork from './SocialNetwork.astro';
---

<header class="px-4 my-16 mx-auto max-w-3xl w-full flex justify-between">
  <nav class="flex gap-3">
    <HeaderLink href="/">Inicio</HeaderLink> /
    <HeaderLink href="/notes">Notas</HeaderLink>
  </nav>
  <SocialNetwork />
</header>
