---
const { img, link, title } = Astro.props;
---

<a
  href={link}
  class="group flex gap-4 items-center mb-4 w-max break-inside-avoid text-gray-300 hover:text-gray-200 
  hover:translate-x-2 transition-all duration-200"
>
  <img
    src={img}
    alt=""
    class="w-5 h-5 object-cover"
  />
  <span>{title}</span>
</a>
